{% extends 'base.html' %}

{% block body %}

    <div class="title" align="center">
        <h1>Скачать аудио файл</h1>
    </div>
	<h3 align="center">Оба поля обязательны для заполнения:</h3>
<div align="center">
	<table id="instruction">
       	    <tr id="row">
	        <td>Поле раз:</td> </tr>
       	    <tr id="row">
			<td>Поле двас:</td> </tr>
       	    <tr id="row">
	</table>
</div>
<div align="center">
    <p><a class="btn" href="/upload" target="_blank">Скачать</a></p>
</div>

{% endblock %}